<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jcg.mapper.CategoryMapper">
	<select id="getAllCategory" resultMap="cate">
		SELECT c.cid,c.cname,p.pid,p.pname,p.imageUrl FROM mall_category c LEFT JOIN mall_product p ON c.cid=p.cid AND p.isExist="1"  
	</select>
	<resultMap type="Category" id="cate">
		<id column="cid" property="cid"/>
		<result column="cname" property="cname"/>
		<collection property="products" ofType="Product">
			<id column="pid" property="pid"/>
			<result column="pname" property="pname"/>
			<result column="imageUrl" property="imageUrl"/>
			<!-- <result column="price" property="price"/>
			<result column="saleTime" property="saleTime"/>
			<result column="isHot" property="isHot"/> -->
		</collection>
	</resultMap>
	<select id="getAllCategoryName" resultType="Category">
		SELECT cname FROM mall_category
	</select>
</mapper>